openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
    Dokumentasi API untuk Aplikasi HR Monitor dari Cloud function 
  termsOfService: https://github.com/HRMonitor/docs
  contact:
    email: rofinafiisr@gmail.com
  license:
    name: UsersBackend Package
    url: https://pkg.go.dev/github.com/HRMonitorr/UsersBackend
  version: 1.0.11
externalDocs:
  description: Website kami
  url: https://hrmonitorr.github.io
servers:
  - url: https://asia-southeast2-gis-project-401902.cloudfunctions.net
tags:
  - name: Users
    description: Pengelolaan Data User
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://petapedia.github.io/UsersBackend
  - name: auth
    description: Auth to Access to API
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://petapedia.github.io/UsersBackend
  - name: user
    description: Get Token and Authorize
paths:
  /RegisterUser:
    post:
      tags:
        - Users
      summary: Register User Without Token
      description: Daftar Akun User
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '405':
          description: Invalid input
  /Login:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input

  /GetUserWithToken:
    get:
      tags:
        - Users
      summary: Get Data User Khusus Admin
      description: Header auth for admin only
      operationId: GetdataUser
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/responseUser'
        '400':
          description: Invalid status value
      security:
        - Login:
          - write:apiKey
          - read:apiKey

components:
  schemas:
    user:
      type: object
      properties:
        username:
          type: string
          example : cihuy
        password:
          type: string
          example: cihuypaswort
        role:
          type: string
          example: user
    Response:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: Berhasil Input data
    responseUser:
      type: object
      properties:
        status:
          type: bool
          example: true
        message:
          type: string
          example: berhasil ambil data
        data:
          type: object
          properties:
            username:
              type: string
              example: cihuy
            password:
              type: string
              example: hashed password
            role:
              type: string
              example: user
    Auth:
      type: object
      properties:
        username:
          type: string
          example: cihuy
        password:
          type: string
          example: cihuypasworthash
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: false
        message:
          type: string
          example: Selamat Datang
        token:
          type: string
          example: cihuy
  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    UserArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    Login:
      type: apiKey
      name: Login
      in: header